body {
  background-image: url(../components/taskBg.jpg);
  background-position: center center;
  background-repeat: repeat-y;
  background-size: cover;
  height: 100vh;
}

.taskBg {
  background-image: url(../components/taskBg.jpg);
  background-position: center center;
  background-repeat: repeat-y;
  background-size: cover;
  height: 100vh;
}